@model List<Actividad3LengProg3.Models.EstudianteViewModel>

@{
    ViewData["Title"] = "Lista de Estudiantes";
}

@if (TempData["MensajeError"] != null)
{
    <div class="alert alert-danger">@TempData["MensajeError"]</div>
}

<h4>Lista de Estudiantes</h4>

<div class="row">
    <div class="col-12">
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Matrícula</th>
                    <th>Carrera</th>
                    <th>Correo Institucional</th>
                    <th>Teléfono</th>
                    <th>Fecha Nacimiento</th>
                    <th>Género</th>
                    <th>Turno</th>
                    <th>Tipo Ingreso</th>
                    <th>¿Becado?</th>
                    <th>Porc. Beca</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var est in Model)
                {
                    <tr>
                        <td>@est.NombreCompleto</td>
                        <td>@est.Matricula</td>
                        <td>@est.Carrera</td>
                        <td>@est.CorreoInstitucional</td>
                        <td>@est.Telefono</td>
                        <td>@est.FechaNacimiento.ToShortDateString()</td>
                        <td>@est.Genero</td>
                        <td>@est.Turno</td>
                        <td>@est.TipoIngreso</td>
                        <td>@(est.EstaBecado ? "Sí" : "No")</td>
                        <td>@(est.PorcentajeBeca.HasValue? est.PorcentajeBeca + "%" : "-")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>